.cloudIcon {
  background-image: url("../icon/icons.png");
  background-position: -4px -308px;
  width: 55px;
  height: 48px;
}

.hazeIcon {
  background-image: url("../icon/icons.png");
  background-position: -362px -95px;
  width: 55px;
  height: 48px;
}

.clearIcon {
  background-image: url("../icon/icons.png");
  background-position: -75px -165px;
  width: 55px;
  height: 48px;
}

.rainIcon {
  background-image: url("../icon/icons.png");
  background-position: -362px -165px;
  width: 55px;
  height: 48px;
}

.snowIcon {
  background-image: url("../icon/icons.png");
  background-position: -292px -237px;
  width: 55px;
  height: 48px;
}
